# <span style="color:darkblue"> Lecture 16 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [31]:
import numpy as np
import pandas as pd

In [32]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review Dataset Operations </span>

<font size = "5">

See attached file for a refresher on syntax

```[] ``` $\qquad \qquad \qquad \quad$: Extracting columns <br>
```.query() ``` $\qquad \qquad $: Subsetting rows <br>
```.recode() ``` $ \qquad \quad \ \ $: Replacing values <br>
```.groupby().agg() ```: Aggregate statistics by subgroup <br>
```.rename() ``` $\qquad \quad \ \ $: Change name of columns

Full list:

<font size = "4">

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

# <span style="color:darkblue"> III. Examples of Chaining </span>

<font size = "5">

The operations with "." are read left to right

- Combine any of the above operations
- Great way to make code efficient
- The sky's the limit!


Subsetting **before** extracting columns

In [33]:
# Get data for drivers that scored more than 20 points on individual races
# Then extract the columns "driverId" and "points"
results.query('points >= 20')[["driverId","points"]]

       driverId  points
20320         4    25.0
20344        18    25.0
20368        20    25.0
20392        18    25.0
20416        17    25.0
...         ...     ...
25740       830    25.0
25760       830    25.0
25780       830    25.0
25800       847    26.0
25820       830    25.0

[262 rows x 2 columns]

<font size = "5">

Subsetting **before** aggregating

In [34]:
# This obtains a subset of drivers who competed in races 500 onwards
# then computes the average by team ("constructorId")

(results.query('raceId >= 500')
        .groupby("constructorId")
        .agg(mean_points = ("points","mean")))

               mean_points
constructorId
1                 3.148148
3                 1.904924
4                 1.903226
5                 1.203911
6                 4.910966
...                    ...
209               0.012821
210               0.809028
211               3.723684
213               2.327869
214               3.693182

[176 rows x 1 columns]

<font size = "5">

Subsetting **after** aggregating

In [35]:
# This obtains the average points by team ("constructorId"), then 
# produces a subset of team whose average is higher than 10

(results.groupby("constructorId")
        .agg(mean_points = ("points","mean"))
        .query('mean_points >= 10'))

               mean_points
constructorId
131              12.363643

<font size = "5">

Chaining inside queries + NaNs

In [36]:
# "is.na()" produces a True/False vector, checking for missing values
# "is.notna()" produces a True/False vector, checking for non-missing values
# .str.isnumeric()
results["points"].isna()
results["points"].notna()

subset_nas    = results.query('points.isna()')
subset_nonnas = results.query('points.notna()')

subset_nonnas

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,points col
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,10.0
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,8.0
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,6.0
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,5.0
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11,0.0
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11,0.0
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9,0.0
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130,0.0
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47,0.0

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the assignment

Questions

(exact wording may change in quiz, but exercise will be very similar)


<font size = "5">

(a) Replace the values of a column

- Obtain unique string values of a column
- Use the ".replace()" command

Hint: See Lecture 13

In [43]:


circuits = pd.read_csv("data_raw/circuits.csv")
circuits["alt"].str.isnumeric()


#circuits["alt"] = circuits["alt"].astype(str): convert the column to str if needed 

subset      = circuits.query("alt.str.isnumeric() == False")
list_unique = pd.unique(subset["alt"])
print(list_unique)

list_old = ['\\N','-7']
list_new = [np.nan,-7]

# This command replaces the values of the "alt" column
circuits["alt"] = circuits["alt"].replace(list_old, list_new)


#circuits.to_csv("data_clean/circuits.csv") #if need to store to new dataset

pd.unique(circuits["alt"])

circuits

circuits["alt_numeric"] = pd.to_numeric(circuits["alt"]) #convert alt column to numeric

['\\N' '-7']

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,NaN,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,NaN,http://en.wikipedia.org/wiki/Miami_Internation...

<font size = "5">

(b) Recode a numeric column

- Use the "pd.cut()" command to create <br>
a new column based on an interval.
- See Lecture 14 for more details

In [62]:




bins_x = [0,2500, 5000]
labels_x = ["Between 0 and 2500",
            "Between 2500 and 5000"]

circuits["bins_alt"] = pd.cut(circuits["alt_numeric"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)

KeyError: 'alt_numeric'

<font size = "5">

(c) Aggregate and query

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .query() ``` <br>
``` .groupby().agg() ``` <br>

In [59]:


results = pd.read_csv("data_raw/results.csv")


teamrace_agg = (results.query("raceId >= 500")
                       .groupby(["raceId","constructorId"])
                        .agg(mean_points = ('points','mean'), #point is the variable 
                             sd_points =   ('points','std'),
                             min_points =  ('points','min'),
                             max_points =  ('points','max'),
                             count_obs   = ('points',len))
                         .query("mean_points >= 40"))
                    
                         
display(teamrace_agg)

teamrace_agg = teamrace_agg.query("mean_points >= 40")

Empty DataFrame
Columns: [mean_points, sd_points, min_points, max_points, count_obs]
Index: []

<font size = "5">

(d) Aggregate and sort

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .groupby().agg() ``` <br>
``` .sort_values() ```

In [13]:

constructor_agg = (results.groupby("constructorId")
                          .agg(mean_points = ("points","mean"))
                          .sort_values("mean_points",ascending = False))


constructor_agg

               mean_points
constructorId
131              12.363643
9                 9.117816
23                5.058824
208               4.584416
6                 4.317968
...                    ...
76                0.000000
77                0.000000
78                0.000000
130               0.000000
112               0.000000

[210 rows x 1 columns]

<font size = "5">

(e) Rename column

- Create a dictionary
- Rename one or more columns in a dataset <br>
using the dictionary

In [52]:

circuits_raw = pd.read_csv("data_raw/circuits.csv")

# unique_data_circuits = pd.unique(circuits_raw["name"].sort_values()) : use this to get unique name

dict_rename_circuits = {"name": "circuit_name", "location": "loc"}
circuits = circuits_raw.rename(columns = dict_rename_circuits)

print("Old List:")
print(circuits_raw.columns.values)
print("")
print("New List:")
print(circuits.columns.values)

Old List:
['circuitId' 'circuitRef' 'name' 'location' 'country' 'lat' 'lng' 'alt'
 'url']

New List:
['circuitId' 'circuitRef' 'circuit_name' 'loc' 'country' 'lat' 'lng' 'alt'
 'url']

<font size = "5">

(f) Merge dataset

- Use "pd.merge" to combine two datasets: <br>
a primary and secondary
- Only merge a subset of the columns of the <br>
secondary dataset
- Use "display" to show a the merged dataset,  <br>
extracting a subset of the columns

In [63]:


races_raw  = pd.read_csv("data_raw/races.csv")


races_merge = pd.merge(races_raw,
                       circuits[["circuitId","circuit_name"]],
                       on = "circuitId",
                       how = "left")
display(races_merge)








# if needed
circuits_spain = circuits.query('country == "spain"')
circuits_us = circuits.query('country == "United State"')
circuits_concat = pd.concat([circuits_spain, circuits_us])
circuits_concat

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,circuit_name
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Albert Park Grand Prix Circuit
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Sepang International Circuit
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Shanghai International Circuit
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Bahrain International Circuit
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Circuit de Barcelona-Catalunya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00,Circuit of the Americas
1098,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N,Autódromo Hermanos Rodríguez
1099,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00,Autódromo José Carlos Pace
1100,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N,Las Vegas Strip Street Circuit
1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N,Yas Marina Circuit

Empty DataFrame
Columns: [circuitId, circuitRef, circuit_name, loc, country, lat, lng, alt, url]
Index: []